<!-- Spinner de carga -->
<div *ngIf="loadingService.isLoading$ | async" class="loading-overlay">
  <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
</div>

<!-- Toolbar y Sidenav visibles solo si no es una página de autenticación -->
<mat-toolbar *ngIf="!isAuthPage">
  <button mat-icon-button (click)="opened=!opened" class="example-icon text-light" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="d-flex text-light align-items-center toolbar-title" style="margin-left: 1rem;">
    <img src="assets/images/logo.png" alt="InventoryMate Logo" style="height: 40px; margin-right: 10px;">
    <span style="font-size: 20px; font-weight: 500;">InventoryMate</span>
  </span>
  <span class="example-spacer"></span>
  <button mat-icon-button (click)="logout()" class="example-icon text-light" aria-label="Example icon-button with share icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container *ngIf="!isAuthPage">
  <mat-sidenav mode="side" [(opened)]="opened">
    <ul class="custom-list">
      <li *ngFor="let item of menuItems" (click)="navigate(item.route)" [class.active]="isActive(item.route)">
        <i class="fas fa-{{ item.icon }}"></i>
        <span>{{ item.name }}</span>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Contenedor para vistas de autenticación -->
<div *ngIf="isAuthPage">
  <router-outlet></router-outlet>
</div>
